{% extends "nav.html" %}
{% load static %}
{% load cache %}
{% block title %}{{ club.club_name }} - CLUE{% endblock %}

{% block content %}
<style>
  body {
    background: linear-gradient(to right, #ffdde1, #ee9ca7);
  }
  .event-container {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
  }
  .event-card {
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 10px;
  }
  .section-title {
    font-weight: bold;
    border: 2px solid #bbb;
    padding: 10px;
    border-radius: 10px;
  }
</style>
<main class="bg-gradient-to-r from-pink-100 to-blue-100">

<!-- Highlights Section -->
{% cache 600 highlights_section club.club_name %}
<section id="highlights" class="py-12 rounded-lg shadow-md">
  <div class="bg-white rounded-lg overflow-hidden shadow-lg max-w-5xl mx-auto">
    <img src="{{ club.club_poster.url }}" alt="{{ club.club_name }}" class="w-full h-64 object-contain">
  </div>
</section>
{% endcache %}

<!-- About Section -->
{% cache 600 about_section club.club_name %}
<section id="about" class="py-16">
  <div class="max-w-6xl mx-auto px-6 text-center">
    <h2 class="text-4xl font-bold text-indigo-900 mb-6 bg-blue-200">About {{ club.club_name }}</h2>
    <p class="text-lg leading-relaxed text-gray-700 mt-4">
      {{ club.club_description }}
    </p>
  </div>
</section>
{% endcache %}

<!-- Events Section -->
{% cache 600 events_section club.club_name %}
<section id="events" class="py-16 event-container"> 
  <div class="max-w-6xl mx-auto px-6 text-center">
    <h2 class="text-4xl font-bold text-indigo-900 mb-6 bg-blue-200 section-title">
      Events from {{ club.club_name }}
    </h2>
    <p class="text-lg text-gray-700 mb-8">
      Stay updated with the latest events and activities from {{ club.club_name }}.
    </p>
    <div class="bg-white p-10 rounded-lg shadow-lg">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for event in events %}
        <div class="bg-white p-6 rounded-lg shadow-md cursor-pointer event-card">
          <a href="{% url 'event_detail' club.club_name event.id %}">
            <img src="{{ event.event_poster.url }}" alt="{{ event.event_name }}" class="rounded-md mb-4 w-full h-48 object-contain">
            <p class="text-lg font-semibold text-indigo-800">{{ event.event_name }}</p>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endcache %}
</main>
{% endblock %}